---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: US-ASCII
      string: <AccessRequest><AccessLicenseNumber>FCA9039C9A358F68</AccessLicenseNumber><UserId>wexfordjewelers</UserId><Password>CROUP59\iota</Password></AccessRequest><RatingServiceSelectionRequest><Request><RequestAction>Rate</RequestAction><RequestOption>Shop</RequestOption></Request><PickupType><Code>01</Code></PickupType><CustomerClassification><Code>01</Code></CustomerClassification><Shipment><Shipper><Address><City>Cadillac</City><StateProvinceCode>MI</StateProvinceCode><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></Shipper><ShipTo><Address><City>cadillac</City><StateProvinceCode>MI</StateProvinceCode><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></ShipTo><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>36.614</Length><Width>3.937</Width><Height>3.937</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>0.22</Weight></PackageWeight></Package><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>15.0</Length><Width>10.0</Width><Height>4.5</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>7.5</Weight></PackageWeight></Package></Shipment></RatingServiceSelectionRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your
        invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>9.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>25.06</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>25.06</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>11.71</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>11.71</MonetaryValue></TotalCharges><Weight>0.2</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>1.0</Weight></BillingWeight></RatedPackage><RatedPackage><TransportationChar[...]
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: US-ASCII
      string: <RateRequest xmlns='http://fedex.com/ws/rate/v6'><WebAuthenticationDetail><UserCredential><Key>wikjDtsCxIh2iohD</Key><Password>Cw10xEFUV6f0kmz861HJdf8NQ</Password></UserCredential></WebAuthenticationDetail><ClientDetail><AccountNumber>510087925</AccountNumber><MeterNumber>118569532</MeterNumber></ClientDetail><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><ReturnTransitAndCommit>true</ReturnTransitAndCommit><VariableOptions>SATURDAY_DELIVERY</VariableOptions><RequestedShipment><ShipTimestamp>2012-12-05T16:55:45-05:00</ShipTimestamp><DropoffType>REGULAR_PICKUP</DropoffType><PackagingType>YOUR_PACKAGING</PackagingType><Shipper><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Shipper><Recipient><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Recipient><RateRequestTypes>ACCOUNT</RateRequestTypes><PackageCount>2</PackageCount><RequestedPackages><Weight><Units>LB</Units><Value>0.22</Value></Weight><Dimensions><Length>37</Length><Width>4</Width><Height>4</Height><Units>IN</Units></Dimensions></RequestedPackages><RequestedPackages><Weight><Units>LB</Units><Value>7.5</Value></Weight><Dimensions><Length>15</Length><Width>10</Width><Height>5</Height><Units>IN</Units></Dimensions></RequestedPackages></RequestedShipment></RateRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=204.135.252.191&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=1045&agentHost=qje20222&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=6D114348CC87FCBF0D577F9CE62AAC61
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <v6:RateReply xmlns:v6="http://fedex.com/ws/rate/v6"><v6:HighestSeverity xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">SUCCESS</v6:HighestSeverity><v6:Notifications
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><v6:Severity>SUCCESS</v6:Severity><v6:Source>crs</v6:Source><v6:Code>0</v6:Code><v6:Message>Request
        was successfully processed. </v6:Message><v6:LocalizedMessage>Request was
        successfully processed. </v6:LocalizedMessage></v6:Notifications><v6:TransactionDetail><v6:CustomerTransactionId>ActiveShipping</v6:CustomerTransactionId></v6:TransactionDetail><v6:Version><v6:ServiceId>crs</v6:ServiceId><v6:Major>6</v6:Major><v6:Intermediate>0</v6:Intermediate><v6:Minor>0</v6:Minor></v6:Version><v6:RateReplyDetails
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><v6:ServiceType>FIRST_OVERNIGHT</v6:ServiceType><v6:PackagingType>YOUR_PACKAGING</v6:PackagingType><v6:DeliveryStation>CADA
        </v6:DeliveryStation><v6:DeliveryDayOfWeek>THU</v6:DeliveryDayOfWeek><v6:DeliveryTimestamp>2012-12-06T10:00:00</v6:DeliveryTimestamp><v6:CommitDetails><v6:ServiceType>FIRST_OVERNIGHT</v6:ServiceType><v6:CommitTimestamp>2012-12-06T10:00:00</v6:CommitTimestamp><v6:DayOfWeek>THU</v6:DayOfWeek><v6:DestinationServiceArea>A5</v6:DestinationServiceArea><v6:BrokerToDestinationDays>0</v6:BrokerToDestinationDays></v6:CommitDetails><v6:DestinationAirportId>GRR</v6:DestinationAirportId><v6:IneligibleForMoneyBackGuarantee>false</v6:IneligibleForMoneyBackGuarantee><v6:OriginServiceArea>A5</v6:OriginServiceArea><v6:DestinationServiceArea>A5</v6:DestinationServiceArea><v6:SignatureOption>SERVICE_DEFAULT</v6:SignatureOption><v6:ActualRateType>PAYOR_ACCOUNT</v6:ActualRateType><v6:RatedShipmentDetails><v6:ShipmentRateDetail><v6:RateType>PAYOR_ACCOUNT</v6:RateType><v6:RateScale>6</v6:RateScale><v6:RateZone>2</v6:RateZone><v6:PricingCode>PACKAGE</v6:PricingCode><v6:DimDivisor>0</v6:DimDivisor><v6:FuelSurchargePercent>13.5</v6:FuelSurchargePercent><v6:TotalBillingWeight><v6:Units>LB</v6:Units><v6:Value>12.0</v6:Value></v6:TotalBillingWeight><v6:TotalBaseCharge><v6:Currency>USD</v6:Currency><v6:Amount>112.55</v6:Amount></v6:TotalBaseCharge><v6:TotalFreightDiscounts><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalFreightDiscounts><v6:TotalNetFreight><v6:Currency>USD</v6:Currency><v6:Amount>112.55</v6:Amount></v6:TotalNetFreight><v6:TotalSurcharges><v6:Currency>USD</v6:Currency><v6:Amount>22.0</v6:Amount></v6:TotalSurcharges><v6:TotalNetFedExCharge><v6:Currency>USD</v6:Currency><v6:Amount>134.55</v6:Amount></v6:TotalNetFedExCharge><v6:TotalTaxes><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalTaxes><v6:TotalNetCharge><v6:Currency>USD</v6:Currency><v6:Amount>134.55</v6:Amount></v6:TotalNetCharge><v6:TotalRebates><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalRebates><v6:Surcharges><v6:SurchargeType>RESIDENTIAL_DELIVERY</v6:SurchargeType><v6:Description>Residential
        delivery</v6:Description><v6:Amount><v6:Currency>USD</v6:Currency><v6:Amount>6.0</v6:Amount></v6:Amount></v6:Surcharges><v6:Surcharges><v6:SurchargeType>FUEL</v6:SurchargeType><v6:Description>Fuel</v6:Description><v6:Amount><v6:Currency>USD</v6:Currency><v6:Amount>16.0</v6:Amount></v6:Amount></v6:Surcharges></v6:ShipmentRateDetail></v6:RatedShipmentDetails><v6:RatedShipmentDetails><v6:ShipmentRateDetail><v6:RateType>RATED_ACCOUNT</v6:RateType><v6:RateScale>6</v6:RateScale><v6[...]
[...]
- request:
    method: get
    uri: https://secure.shippingapis.com/ShippingAPITest.dll?API=CarrierPickupAvailability&XML=%3CCarrierPickupAvailabilityRequest%20USERID=%22029WEXFO3351%22%3E%20%0A%3CFirmName%3EABC%20Corp.%3C/FirmName%3E%20%0A%3CSuiteOrApt%3ESuite%20777%3C/SuiteOrApt%3E%20%0A%3CAddress2%3E1390%20Market%20Street%3C/Address2%3E%20%0A%3CUrbanization%3E%3C/Urbanization%3E%20%0A%3CCity%3EHouston%3C/City%3E%20%0A%3CState%3ETX%3C/State%3E%20%0A%3CZIP5%3E77058%3C/ZIP5%3E%20%0A%3CZIP4%3E1234%3C/ZIP4%3E%20%0A%3C/CarrierPickupAvailabilityRequest%3E%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<CarrierPickupAvailabilityResponse><FirmName>ABC
        Corp.</FirmName><SuiteOrApt>Suite 777</SuiteOrApt><Address2>1390 Market Street</Address2><Urbanization></Urbanization><City>HOUSTON</City><State>TX</State><ZIP5>77058</ZIP5><ZIP4>1234</ZIP4><DayOfWeek>Monday</DayOfWeek><Date>3/1/2004</Date><CarrierRoute>C</CarrierRoute></CarrierPickupAvailabilityResponse>\r\n"
  recorded_at: Wed, 12 Dec 2012 23:59:29 GMT
- request:
    method: get
    uri: http://production.shippingapis.com/ShippingAPI.dll?API=RateV4&XML=%3CRateV4Request%20USERID='029WEXFO3351'%3E%3CPackage%20ID='0'%3E%3CService%3EALL%3C/Service%3E%3CZipOrigination%3E49601%3C/ZipOrigination%3E%3CZipDestination%3E49601%3C/ZipDestination%3E%3CPounds%3E0%3C/Pounds%3E%3COunces%3E3.5%3C/Ounces%3E%3CContainer/%3E%3CSize%3ELARGE%3C/Size%3E%3CWidth%3E3.94%3C/Width%3E%3CLength%3E36.61%3C/Length%3E%3CHeight%3E3.94%3C/Height%3E%3CGirth%3E12.37%3C/Girth%3E%3CMachinable%3EFALSE%3C/Machinable%3E%3C/Package%3E%3CPackage%20ID='1'%3E%3CService%3EALL%3C/Service%3E%3CZipOrigination%3E49601%3C/ZipOrigination%3E%3CZipDestination%3E49601%3C/ZipDestination%3E%3CPounds%3E0%3C/Pounds%3E%3COunces%3E120.0%3C/Ounces%3E%3CContainer/%3E%3CSize%3ELARGE%3C/Size%3E%3CWidth%3E10.00%3C/Width%3E%3CLength%3E15.00%3C/Length%3E%3CHeight%3E4.50%3C/Height%3E%3CGirth%3E29.00%3C/Girth%3E%3CMachinable%3ETRUE%3C/Machinable%3E%3C/Package%3E%3C/RateV4Request%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<RateV4Response><Package ID=\"0\"><ZipOrigination>49601</ZipOrigination><ZipDestination>49601</ZipDestination><Pounds>0</Pounds><Ounces>3.5</Ounces><Size>LARGE</Size><Width>4</Width><Length>37</Length><Height>4</Height><Girth>12</Girth><Machinable>FALSE</Machinable><Zone>1</Zone><Postage
        CLASSID=\"3\"><MailService>Express Mail&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt;</MailService><Rate>12.95</Rate></Postage><Postage
        CLASSID=\"2\"><MailService>Express Mail&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt;
        Hold For Pickup</MailService><Rate>12.95</Rate></Postage><Postage CLASSID=\"23\"><MailService>Express
        Mail&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt; Sunday/Holiday Delivery</MailService><Rate>25.45</Rate></Postage><Postage
        CLASSID=\"1\"><MailService>Priority Mail&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt;</MailService><Rate>5.20</Rate></Postage><Postage
        CLASSID=\"0\"><MailService>First-Class Mail&amp;lt;sup&amp;gt;&amp;amp;reg;&amp;lt;/sup&amp;gt;
        Parcel</MailService><Rate>2.12</Rate></Postage><Postage CLASSID[...]
[...]
