---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: US-ASCII
      string: <AccessRequest><AccessLicenseNumber>FCA9039C9A358F68</AccessLicenseNumber><UserId>wexfordjewelers</UserId><Password>CROUP59\iota</Password></AccessRequest><RatingServiceSelectionRequest><Request><RequestAction>Rate</RequestAction><RequestOption>Shop</RequestOption></Request><PickupType><Code>01</Code></PickupType><CustomerClassification><Code>01</Code></CustomerClassification><Shipment><Shipper><Address><City>Cadillac</City><StateProvinceCode>MI</StateProvinceCode><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></Shipper><ShipTo><Address><City>Cadillac</City><StateProvinceCode>MI</StateProvinceCode><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></ShipTo><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>36.614</Length><Width>3.937</Width><Height>3.937</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>0.22</Weight></PackageWeight></Package><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>15.0</Length><Width>10.0</Width><Height>4.5</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>7.5</Weight></PackageWeight></Package></Shipment></RatingServiceSelectionRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your
        invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>9.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>25.06</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>25.06</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>11.71</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>11.71</MonetaryValue></TotalCharges><Weight>0.2</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>1.0</Weight></BillingWeight></RatedPackage><RatedPackage><TransportationChar[...]
- request:
    method: post
    uri: https://gateway.fedex.com/xml
    body:
      encoding: US-ASCII
      string: <RateRequest xmlns='http://fedex.com/ws/rate/v6'><WebAuthenticationDetail><UserCredential><Key>kjDtsCxIh2iohD</Key><Password>1garnet</Password></UserCredential></WebAuthenticationDetail><ClientDetail><AccountNumber>510087925</AccountNumber><MeterNumber>wexfordjewelers</MeterNumber></ClientDetail><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><ReturnTransitAndCommit>true</ReturnTransitAndCommit><VariableOptions>SATURDAY_DELIVERY</VariableOptions><RequestedShipment><ShipTimestamp>2012-12-05T15:25:03-05:00</ShipTimestamp><DropoffType>REGULAR_PICKUP</DropoffType><PackagingType>YOUR_PACKAGING</PackagingType><Shipper><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Shipper><Recipient><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Recipient><RateRequestTypes>ACCOUNT</RateRequestTypes><PackageCount>2</PackageCount><RequestedPackages><Weight><Units>LB</Units><Value>0.22</Value></Weight><Dimensions><Length>37</Length><Width>4</Width><Height>4</Height><Units>IN</Units></Dimensions></RequestedPackages><RequestedPackages><Weight><Units>LB</Units><Value>7.5</Value></Weight><Dimensions><Length>15</Length><Width>10</Width><Height>5</Height><Units>IN</Units></Dimensions></RequestedPackages></RequestedShipment></RateRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=199.81.111.102&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=22&agentHost=pje20212&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=6CBE402EC7516F660C30AEC46BD3CB15
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ns:RateReply xmlns:ns="http://fedex.com/ws/rate/v6"><ns:HighestSeverity>ERROR</ns:HighestSeverity><ns:Notifications><ns:Severity>ERROR</ns:Severity><ns:Source>prof</ns:Source><ns:Code>1000</ns:Code><ns:Message>Authentication
        Failed</ns:Message></ns:Notifications><ns:TransactionDetail><ns:CustomerTransactionId>ActiveShipping</ns:CustomerTransactionId></ns:TransactionDetail><ns:Version><ns:ServiceId>crs</ns:ServiceId><ns:Major>6</ns:Major><ns:Intermediate>0</ns:Intermediate><ns:Minor>0</ns:Minor></ns:Version></ns:RateReply>'
  recorded_at: Wed, 05 Dec 2012 20:25:05 GMT
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: US-ASCII
      string: <RateRequest xmlns='http://fedex.com/ws/rate/v6'><WebAuthenticationDetail><UserCredential><Key>wikjDtsCxIh2iohD</Key><Password>Cw10xEFUV6f0kmz861HJdf8NQ</Password></UserCredential></WebAuthenticationDetail><ClientDetail><AccountNumber>510087925</AccountNumber><MeterNumber>118569532</MeterNumber></ClientDetail><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTra[...]
