---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: US-ASCII
      string: ! "<RateRequest xmlns=\"http://fedex.com/ws/rate/v10\">\n  <WebAuthenticationDetail>\n
        \   <UserCredential>\n      <Key>wikjDtsCxIh2iohD</Key>\n      <Password>Cw10xEFUV6f0kmz861HJdf8NQ</Password>\n
        \   </UserCredential>\n  </WebAuthenticationDetail>\n  <ClientDetail>\n    <AccountNumber>510087925</AccountNumber>\n
        \   <MeterNumber>118569532</MeterNumber>\n    <Localization>\n      <LanguageCode>en</LanguageCode>\n
        \     <LocaleCode>us</LocaleCode>\n    </Localization>\n  </ClientDetail>\n
        \ <Version>\n    <ServiceId>crs</ServiceId>\n    <Major>10</Major>\n    <Intermediate>0</Intermediate>\n
        \   <Minor>0</Minor>\n  </Version>\n  <RequestedShipment>\n    <DropoffType>REGULAR_PICKUP</DropoffType>\n
        \   <ServiceType>FEDEX_EXPRESS_SAVER</ServiceType>\n    <PackagingType>YOUR_PACKAGING</PackagingType>\n
        \   <Shipper>\n      <Contact>\n        <PersonName>Wexford Jewlers</PersonName>\n
        \       <CompanyName/>\n        <PhoneNumber>2317751289</PhoneNumber>\n      </Contact>\n
        \     <Address>\n        <StreetLines>801 North Mitchell Street</StreetLines>\n
        \       <City>Cadillac</City>\n        <StateOrProvinceCode>MI</StateOrProvinceCode>\n
        \       <PostalCode>49601</PostalCode>\n        <CountryCode>US</CountryCode>\n
        \     </Address>\n    </Shipper>\n    <Recipient>\n      <Contact>\n        <PersonName>Anonymous
        User</PersonName>\n        <CompanyName/>\n        <PhoneNumber>1234567890</PhoneNumber>\n
        \     </Contact>\n      <Address>\n        <StreetLines>2236 S 33 1/2 RD</StreetLines>\n
        \       <City>cadillac</City>\n        <StateOrProvinceCode>MI</StateOrProvinceCode>\n
        \       <PostalCode>49601</PostalCode>\n        <CountryCode>US</CountryCode>\n
        \       <Residential>false</Residential>\n      </Address>\n    </Recipient>\n
        \   <ShippingChargesPayment>\n      <PaymentType>SENDER</PaymentType>\n      <Payor>\n
        \       <AccountNumber>510087925</AccountNumber>\n        <CountryCode>US</CountryCode>\n
        \     </Payor>\n    </ShippingChargesPayment>\n    <RateRequestTypes>ACCOUNT</RateRequestTypes>\n
        \   <PackageCount>1</PackageCount>\n    <RequestedPackageLineItems>\n      <GroupPackageCount>1</GroupPackageCount>\n
        \     <Weight>\n        <Units>LB</Units>\n        <Value>2</Value>\n      </Weight>\n
        \     <Dimensions>\n        <Length>10</Length>\n        <Width>5</Width>\n
        \       <Height>4</Height>\n        <Units>IN</Units>\n      </Dimensions>\n
        \   </RequestedPackageLineItems>\n  </RequestedShipment>\n</RateRequest>"
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=204.135.253.46&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=234&agentHost=qje20223&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=8B210E54CC87FD2E0C3502205C2BD9C1
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<v10:RateReply xmlns:v10=\"http://fedex.com/ws/rate/v10\"><v10:HighestSeverity
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">SUCCESS</v10:HighestSeverity><v10:Notifications
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><v10:Severity>SUCCESS</v10:Severity><v10:Source>crs</v10:Source><v10:Code>0</v10:Code><v10:Message>Request
        was successfully processed. </v10:Message><v10:LocalizedMessage>Request was
        successfully processed. </v10:LocalizedMessage></v10:Notifications><v10:Version>\n
        \   <v10:ServiceId>crs</v10:ServiceId>\n    <v10:Major>10</v10:Major>\n    <v10:Intermediate>0</v10:Intermediate>\n
        \   <v10:Minor>0</v10:Minor>\n  </v10:Version><v10:RateReplyDetails xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><v10:ServiceType>FEDEX_EXPRESS_SAVER</v10:ServiceType><v10:PackagingType>YOUR_PACKAGING</v10:PackagingType><v10:DestinationAirportId>GRR</v10:DestinationAirportId><v10:IneligibleForMoneyBackGuarantee>false</v10:IneligibleForMoneyBackGuarantee><v10:OriginServiceArea>A5</v10:OriginServiceArea><v10:DestinationServiceArea>A5</v10:DestinationServiceArea><v10:SignatureOption>SERVICE_DEFAULT</v10:SignatureOption><v10:ActualRateType>PAYOR_ACCOUNT_PACKAGE</v10:ActualRateType><v10:RatedShipmentDetails><v10:ShipmentRateDetail><v10:RateType>PAYOR_ACCOUNT_PACKAGE</v10:RateType><v10:RateScale>7167</v10:RateScale><v10:RateZone>2</v10:RateZone><v10:PricingCode>PACKAGE</v10:PricingCode><v10:RatedWeightMethod>ACTUAL</v10:RatedWeightMethod><v10:DimDivisor>194</v10:DimDivisor><v10:FuelSurchargePercent>13.5</v10:FuelSurchargePercent><v10:TotalBillingWeight><v10:Units>LB</v10:Units><v10:Value>2.0</v10:Value></v10:TotalBillingWeight><v10:TotalBaseCharge><v10:Currency>USD</v10:Currency><v10:Amount>11.45</v10:Amount></v10:TotalBaseCharge><v10:TotalFreightDiscounts><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalFreightDiscounts><v10:TotalNetFreight><v10:Currency>USD</v10:Currency><v10:Amount>11.45</v10:Amount></v10:TotalNetFreight><v10:TotalSurcharges><v10:Currency>USD</v10:Currency><v10:Amount>3.82</v10:Amount></v10:TotalSurcharges><v10:TotalNetFedExCharge><v10:Currency>USD</v10:Currency><v10:Amount>15.27</v10:Amount></v10:TotalNetFedExCharge><v10:TotalTaxes><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalTaxes><v10:TotalNetCharge><v10:Currency>USD</v10:Currency><v10:Amount>15.27</v10:Amount></v10:TotalNetCharge><v10:TotalRebates><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalRebates><v10:Surcharges><v10:SurchargeType>DELIVERY_AREA</v10:SurchargeType><v10:Description>Delivery
        Area Surcharge Commercial</v10:Description><v10:Amount><v10:Currency>USD</v10:Currency><v10:Amount>2.0</v10:Amount></v10:Amount></v10:Surcharges><v10:Surcharges><v10:SurchargeType>FUEL</v10:SurchargeType><v10:Description>Fuel</v10:Description><v10:Amount><v10:Currency>USD</v10:Currency><v10:Amount>1.82</v10:Amount></v10:Amount></v10:Surcharges></v10:ShipmentRateDetail><v10:RatedPackages><v10:GroupNumber>0</v10:GroupNumber><v10:PackageRateDetail><v10:RateType>PAYOR_ACCOUNT_PACKAGE</v10:RateType><v10:RatedWeightMethod>ACTUAL</v10:RatedWeightMethod><v10:BillingWeight><v10:Units>LB</v10:Units><v10:Value>2.0</v10:Value></v10:BillingWeight><v10:BaseCharge><v10:Currency>USD</v10:Currency><v10:Amount>11.45</v10:Amount></v10:BaseCharge><v10:TotalFreightDiscounts><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalFreightDiscounts><v10:NetFreight><v10:Currency>USD</v10:Currency><v10:Amount>11.45</v10:Amount></v10:NetFreight><v10:TotalSurcharges><v10:Currency>USD</v10:Currency><v10:Amount>3.82</v10:Amount></v10:TotalSurcharges><v10:NetFedExCharge><v10:Currency>USD</v10:Currency><v10:Amount>15.27</v10:Amount></v10:NetFedExCharge><v10:TotalTaxes><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalTaxes><v10:NetCharge><v10:Currency>USD</v10:Currency><v10:Amount>15.27</v10:Amount></v10:NetCharge><v10:TotalRebates><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalRebates><v10:Surcharges><v10:SurchargeType>DELIVERY_AREA</v10:SurchargeType><v10:Description>Delivery
        Area Surcharge Commercial</v10:Description><v10:Amount><v10:Currency>USD</v10:Currency><v10:Amount>2.0</v10:Amount></v10:Amount></v10:Surcharges><v10:Surcharges><v10:SurchargeType>FUEL</v10:SurchargeType><v10:Description>Fu[...]
[...]
