---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: US-ASCII
      string: ! "<RateRequest xmlns=\"http://fedex.com/ws/rate/v10\">\n  <WebAuthenticationDetail>\n
        \   <UserCredential>\n      <Key>wikjDtsCxIh2iohD</Key>\n      <Password>Cw10xEFUV6f0kmz861HJdf8NQ</Password>\n
        \   </UserCredential>\n  </WebAuthenticationDetail>\n  <ClientDetail>\n    <AccountNumber>510087925</AccountNumber>\n
        \   <MeterNumber>118569532</MeterNumber>\n    <Localization>\n      <LanguageCode>en</LanguageCode>\n
        \     <LocaleCode>us</LocaleCode>\n    </Localization>\n  </ClientDetail>\n
        \ <Version>\n    <ServiceId>crs</ServiceId>\n    <Major>10</Major>\n    <Intermediate>0</Intermediate>\n
        \   <Minor>0</Minor>\n  </Version>\n  <RequestedShipment>\n    <DropoffType>REGULAR_PICKUP</DropoffType>\n
        \   <ServiceType>INTERNATIONAL_ECONOMY</ServiceType>\n    <PackagingType>YOUR_PACKAGING</PackagingType>\n
        \   <Shipper>\n      <Contact>\n        <PersonName>Wexford Jewlers</PersonName>\n
        \       <CompanyName/>\n        <PhoneNumber>2317751289</PhoneNumber>\n      </Contact>\n
        \     <Address>\n        <StreetLines>801 North Mitchell Street</StreetLines>\n
        \       <City>Cadillac</City>\n        <StateOrProvinceCode>MI</StateOrProvinceCode>\n
        \       <PostalCode>49601</PostalCode>\n        <CountryCode>US</CountryCode>\n
        \     </Address>\n    </Shipper>\n    <Recipient>\n      <Contact>\n        <PersonName>Anonymous
        User</PersonName>\n        <CompanyName/>\n        <PhoneNumber>2314567890</PhoneNumber>\n
        \     </Contact>\n      <Address>\n        <StreetLines>25 Raglan Street,
        Ste. 20</StreetLines>\n        <City>TORONTO</City>\n        <StateOrProvinceCode>ON</StateOrProvinceCode>\n
        \       <PostalCode>M5V 2Z9</PostalCode>\n        <CountryCode>CA</CountryCode>\n
        \       <Residential>false</Residential>\n      </Address>\n    </Recipient>\n
        \   <ShippingChargesPayment>\n      <PaymentType>SENDER</PaymentType>\n      <Payor>\n
        \       <AccountNumber>510087925</AccountNumber>\n        <CountryCode>US</CountryCode>\n
        \     </Payor>\n    </ShippingChargesPayment>\n    <RateRequestTypes>ACCOUNT</RateRequestTypes>\n
        \   <PackageCount>1</PackageCount>\n    <RequestedPackageLineItems>\n      <GroupPackageCount>1</GroupPackageCount>\n
        \     <Weight>\n        <Units>LB</Units>\n        <Value>2</Value>\n      </Weight>\n
        \     <Dimensions>\n        <Length>10</Length>\n        <Width>5</Width>\n
        \       <Height>4</Height>\n        <Units>IN</Units>\n      </Dimensions>\n
        \   </RequestedPackageLineItems>\n  </RequestedShipment>\n</RateRequest>"
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=199.81.110.99&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=321&agentHost=qje20205&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=68DDA773C7516E630D304D007B1BF043
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<v10:RateReply xmlns:v10=\"http://fedex.com/ws/rate/v10\"><v10:HighestSeverity
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">SUCCESS</v10:HighestSeverity><v10:Notifications
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><v10:Severity>SUCCESS</v10:Severity><v10:Source>crs</v10:Source><v10:Code>0</v10:Code><v10:Message>Request
        was successfully processed. </v10:Message><v10:LocalizedMessage>Request was
        successfully processed. </v10:LocalizedMessage></v10:Notifications><v10:Version>\n
        \   <v10:ServiceId>crs</v10:ServiceId>\n    <v10:Major>10</v10:Major>\n    <v10:Intermediate>0</v10:Intermediate>\n
        \   <v10:Minor>0</v10:Minor>\n  </v10:Version><v10:RateReplyDetails xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><v10:ServiceType>INTERNATIONAL_ECONOMY</v10:ServiceType><v10:PackagingType>YOUR_PACKAGING</v10:PackagingType><v10:DestinationAirportId>YYZ</v10:DestinationAirportId><v10:IneligibleForMoneyBackGuarantee>false</v10:IneligibleForMoneyBackGuarantee><v10:OriginServiceArea>A5</v10:OriginServiceArea><v10:DestinationServiceArea>A3</v10:DestinationServiceArea><v10:SignatureOption>SERVICE_DEFAULT</v10:SignatureOption><v10:ActualRateType>PAYOR_ACCOUNT_SHIPMENT</v10:ActualRateType><v10:RatedShipmentDetails><v10:ShipmentRateDetail><v10:RateType>PAYOR_ACCOUNT_SHIPMENT</v10:RateType><v10:RateScale>0000000</v10:RateScale><v10:RateZone>US001O</v10:RateZone><v10:PricingCode>ACTUAL</v10:PricingCode><v10:RatedWeightMethod>ACTUAL</v10:RatedWeightMethod><v10:CurrencyExchangeRate><v10:FromCurrency>USD</v10:FromCurrency><v10:IntoCurrency>USD</v10:IntoCurrency><v10:Rate>1.0</v10:Rate></v10:CurrencyExchangeRate><v10:DimDivisor>139</v10:DimDivisor><v10:DimDivisorType>COUNTRY</v10:DimDivisorType><v10:FuelSurchargePercent>13.5</v10:FuelSurchargePercent><v10:TotalBillingWeight><v10:Units>LB</v10:Units><v10:Value>2.0</v10:Value></v10:TotalBillingWeight><v10:TotalBaseCharge><v10:Currency>USD</v10:Currency><v10:Amount>62.07</v10:Amount></v10:TotalBaseCharge><v10:TotalFreightDiscounts><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalFreightDiscounts><v10:TotalNetFreight><v10:Currency>USD</v10:Currency><v10:Amount>62.07</v10:Amount></v10:TotalNetFreight><v10:TotalSurcharges><v10:Currency>USD</v10:Currency><v10:Amount>8.38</v10:Amount></v10:TotalSurcharges><v10:TotalNetFedExCharge><v10:Currency>USD</v10:Currency><v10:Amount>70.45</v10:Amount></v10:TotalNetFedExCharge><v10:TotalTaxes><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalTaxes><v10:TotalNetCharge><v10:Currency>USD</v10:Currency><v10:Amount>70.45</v10:Amount></v10:TotalNetCharge><v10:TotalRebates><v10:Currency>USD</v10:Currency><v10:Amount>0.0</v10:Amount></v10:TotalRebates><v10:Surcharges><v10:SurchargeType>FUEL</v10:SurchargeType><v10:Description>Fuel</v10:Description><v10:Amount><v10:Currency>USD</v10:Currency><v10:Amount>8.38</v10:Amount></v10:Amount></v10:Surcharges></v10:ShipmentRateDetail></v10:RatedShipmentDetails><v10:RatedShipmentDetails><v10:ShipmentRateDetail><v10:RateType>RATED_ACCOUNT_SHIPMENT</v10:RateType><v10:RateScale>0000000</v10:RateScale><v10:RateZone>US001O</v10:RateZone><v10:PricingCode>ACTUAL</v10:PricingCode><v10:RatedWeightMethod>ACTUAL</v10:RatedWeightMethod><v10:CurrencyExchangeRate><v10:FromCurrency>USD</v10:Fr[...]
[...]
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: US-ASCII
      string: <AccessRequest><AccessLicenseNumber>FCA9039C9A358F68</AccessLicenseNumber><UserId>wexfordjewelers</UserId><Password>CROUP59\iota</Password></AccessRequest><RatingServiceSelectionRequest><Request><RequestAction>Rate</RequestAction><RequestOption>Shop</RequestOption></Request><PickupType><Code>01</Code></PickupType><CustomerClassification><Code>01</Code></CustomerClassification><Shipment><Shipper><Address><City>Cadillac</City><StateProvinceCode>MI</StateProvinceCode><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></Shipper><ShipTo><Address><City>TORONTO</City><StateProvinceCode>ON</StateProvinceCode><PostalCode>M5V
        2Z9</PostalCode><CountryCode>CA</CountryCode><ResidentialAddressIndicator>true</ResidentialAddressIndicator></Address></ShipTo><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>36.614</Length><Width>3.937</Width><Height>3.937</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>0.22</Weight></PackageWeight></Package><Package><PackagingType><Code>02</Code></PackagingType><Dimensions><UnitOfMeasurement><Code>IN</Code></UnitOfMeasurement><Length>15.0</Length><Width>10.0</Width><Height>4.5</Height></Dimensions><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>7.5</Weight></PackageWeight></Package></Shipment></RatingServiceSelectionRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>07</Code></Service><RatedShipmentWarning>Your
        invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>12.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>131.15</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>131.15</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery>1</GuaranteedDaysToDelivery><ScheduledDeliveryTime>10:30
        A.M.</ScheduledDeliveryTime><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></TotalCharges><Weight>0.2</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>0.0</Weight></BillingWeight></RatedPackage><RatedPackage><TransportationCharge[...]
[...]
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: US-ASCII
      string: <RateRequest xmlns='http://fedex.com/ws/rate/v6'><WebAuthenticationDetail><UserCredential><Key>wikjDtsCxIh2iohD</Key><Password>Cw10xEFUV6f0kmz861HJdf8NQ</Password></UserCredential></WebAuthenticationDetail><ClientDetail><AccountNumber>510087925</AccountNumber><MeterNumber>118569532</MeterNumber></ClientDetail><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><ReturnTransitAndCommit>true</ReturnTransitAndCommit><VariableOptions>SATURDAY_DELIVERY</VariableOptions><RequestedShipment><ShipTimestamp>2012-12-05T16:03:10-05:00</ShipTimestamp><DropoffType>REGULAR_PICKUP</DropoffType><PackagingType>YOUR_PACKAGING</PackagingType><Shipper><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Shipper><Recipient><Address><PostalCode>49601</PostalCode><CountryCode>US</CountryCode><Residential>true</Residential></Address></Recipient><RateRequestTypes>ACCOUNT</RateRequestTypes><PackageCount>2</PackageCount><RequestedPackages><Weight><Units>LB</Units><Value>0.22</Value></Weight><Dimensions><Length>37</Length><Width>4</Width><Height>4</Height><Units>IN</Units></Dimensions></RequestedPackages><RequestedPackages><Weight><Units>LB</Units><Value>7.5</Value></Weight><Dimensions><Length>15</Length><Width>10</Width><Height>5</Height><Units>IN</Units></Dimensions></RequestedPackages></RequestedShipment></RateRequest>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=204.135.252.191&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=1086&agentHost=qje20222&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=6CE1209ECC87FCBF0D577F9CDD340E43
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <v6:RateReply xmlns:v6="http://fedex.com/ws/rate/v6"><v6:HighestSeverity xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">SUCCESS</v6:HighestSeverity><v6:Notifications
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><v6:Severity>SUCCESS</v6:Severity><v6:Source>crs</v6:Source><v6:Code>0</v6:Code><v6:Message>Request
        was successfully processed. </v6:Message><v6:LocalizedMessage>Request was
        successfully processed. </v6:LocalizedMessage></v6:Notifications><v6:TransactionDetail><v6:CustomerTransactionId>ActiveShipping</v6:CustomerTransactionId></v6:TransactionDetail><v6:Version><v6:ServiceId>crs</v6:ServiceId><v6:Major>6</v6:Major><v6:Intermediate>0</v6:Intermediate><v6:Minor>0</v6:Minor></v6:Version><v6:RateReplyDetails
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><v6:ServiceType>FIRST_OVERNIGHT</v6:ServiceType><v6:PackagingType>YOUR_PACKAGING</v6:PackagingType><v6:DeliveryStation>CADA
        </v6:DeliveryStation><v6:DeliveryDayOfWeek>THU</v6:DeliveryDayOfWeek><v6:DeliveryTimestamp>2012-12-06T10:00:00</v6:DeliveryTimestamp><v6:CommitDetails><v6:ServiceType>FIRST_OVERNIGHT</v6:ServiceType><v6:CommitTimestamp>2012-12-06T10:00:00</v6:CommitTimestamp><v6:DayOfWeek>THU</v6:DayOfWeek><v6:DestinationServiceArea>A5</v6:DestinationServiceArea><v6:BrokerToDestinationDays>0</v6:BrokerToDestinationDays></v6:CommitDetails><v6:DestinationAirportId>GRR</v6:DestinationAirportId><v6:IneligibleForMoneyBackGuarantee>false</v6:IneligibleForMoneyBackGuarantee><v6:OriginServiceArea>A5</v6:OriginServiceArea><v6:DestinationServiceArea>A5</v6:DestinationServiceArea><v6:SignatureOption>SERVICE_DEFAULT</v6:SignatureOption><v6:ActualRateType>PAYOR_ACCOUNT</v6:ActualRateType><v6:RatedShipmentDetails><v6:ShipmentRateDetail><v6:RateType>PAYOR_ACCOUNT</v6:RateType><v6:RateScale>6</v6:RateScale><v6:RateZone>2</v6:RateZone><v6:PricingCode>PACKAGE</v6:PricingCode><v6:DimDivisor>0</v6:DimDivisor><v6:FuelSurchargePercent>13.5</v6:FuelSurchargePercent><v6:TotalBillingWeight><v6:Units>LB</v6:Units><v6:Value>12.0</v6:Value></v6:TotalBillingWeight><v6:TotalBaseCharge><v6:Currency>USD</v6:Currency><v6:Amount>112.55</v6:Amount></v6:TotalBaseCharge><v6:TotalFreightDiscounts><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalFreightDiscounts><v6:TotalNetFreight><v6:Currency>USD</v6:Currency><v6:Amount>112.55</v6:Amount></v6:TotalNetFreight><v6:TotalSurcharges><v6:Currency>USD</v6:Currency><v6:Amount>22.0</v6:Amount></v6:TotalSurcharges><v6:TotalNetFedExCharge><v6:Currency>USD</v6:Currency><v6:Amount>134.55</v6:Amount></v6:TotalNetFedExCharge><v6:TotalTaxes><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalTaxes><v6:TotalNetCharge><v6:Currency>USD</v6:Currency><v6:Amount>134.55</v6:Amount></v6:TotalNetCharge><v6:TotalRebates><v6:Currency>USD</v6:Currency><v6:Amount>0.0</v6:Amount></v6:TotalRebates><v6:Surcharges><v6:SurchargeType>RESIDENTIAL_DELIVERY</v6:SurchargeType><v6:Description>Residential
        delivery</v6:Description><v6:Amount><v6:Currency>USD</v6:Currency><v6:Amount>6.0</v6:Amount></v6:Amount></v6:Surcharges><v6:Surcharges><v6:SurchargeType>FUEL</v6:SurchargeType><v6:Description>Fuel</v6:Description><v6:Amount><v6:Currency>USD</v6:Currency><v6:Amount>16.0</v6:Amount></v6:Amount></v6:Surcharges></v6:ShipmentRateDetail></v6:RatedShipmentDetails><v6:RatedShipmentDetails><v6:ShipmentRateDetail><v6:RateType>RATED_ACCOUNT</v6:RateType><v6:RateScale>6</v6:RateScale><v6[...]
[...]
